.contactContent {
    margin: 0 auto;
    padding: 0 50px;
    padding-top: 270px;
    padding-bottom: 270px;

    max-width: 1600px;

    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 0 25px;
        padding-top: 75px;
        padding-bottom: 80px;
        gap: 48px;
    }
}
