/* Block: basic-select, Element: content */
.contactSelectContent {
    height: auto;
    width: 100%;
    // padding: 12px 0;
    // border-radius: 12px;
    border: 1px solid #364f87;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 28px;
    list-style: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 4;
}
