.changeTitleText {
    color: #364f87;
    font-weight: 700;
    font-size: clamp(24px, 24px + (100vw - 360px) * 0.01026, 40px);
    text-align: center;
    line-height: clamp(30px, 30px + (100vw - 360px) * 0.01282, 50px);
}
