.changeTitleText {
    color: #364f87;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    line-height: 50px;

    @media (max-width: 768px) {
        font-size: clamp(25px, calc(5.7143px + 5.3571vw), 40px);
    }
}
