.talkTitleText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first {
    color: #fff;
    font-size: clamp(18px, 18px + (100vw - 360px) * 0.00449, 25px);
    line-height: clamp(24px, 24px + (100vw - 360px) * 0.00385, 30px);
}

.second {
    color: #ffdd54;
    font-size: clamp(18px, 18px + (100vw - 360px) * 0.00449, 25px);
    line-height: clamp(24px, 24px + (100vw - 360px) * 0.00385, 30px);
}

.third {
    font-weight: 700;
    color: #fff;
    font-size: clamp(24px, 24px + (100vw - 360px) * 0.01026, 40px);
    line-height: clamp(50px, 50px + (100vw - 360px) * 0.01923, 80px);
}
