.changeSubTitleText {
    font-weight: 400;
    font-size: clamp(24px, 24px + (100vw - 360px) * 0.00705, 35px);
    line-height: clamp(30px, 30px + (100vw - 360px) * 0.00641, 40px);
    color: #6b6b6b;
    text-align: center;
}
