.changeSubTitleText {
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    color: #6b6b6b;
    text-align: center;

    @media (max-width: 768px) {
        font-size: clamp(20px, calc(5.7143px + 5.3571vw), 35px);
    }
}
