.mobileContactForm {
    display: none;
    padding: clamp(24px, 24px + (100vw - 360px) * 0.01667, 50px);
    border-radius: 30px;
    background-color: #f0f0f0;

    @media (max-width: 1200px) {
        display: block;
    }

    .label {
        font-size: clamp(12px, 12px + (100vw - 360px) * 0.00513, 20px);
        color: #364f87;
    }
}
