.contactInput {
    width: 100%;
    border-bottom: 1px solid #cecece;
    padding-bottom: 20px;

    display: flex;
    gap: 16px;
}

.label {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #364f87;

    @media (max-width: 768px) {
        font-size: clamp(12px, calc(12px + ((100vw - 400px) / 60)), 16px);
    }
}

.contactInput input {
    font-weight: 400;
    font-size: 18px;
    font-family: NotoSansKR;
    color: #000;
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0;

    @media (max-width: 768px) {
        font-size: clamp(12px, calc(12px + ((100vw - 400px) / 60)), 16px);
    }

    &::placeholder {
        font-weight: 400;
        font-size: 18px;
        color: #cecece;
        @media (max-width: 768px) {
            font-size: clamp(12px, calc(12px + ((100vw - 400px) / 60)), 16px);
        }
    }
}
