.contactInput {
    width: 100%;
    border-bottom: 1px solid #cecece;
    padding-bottom: 20px;

    display: flex;
    gap: 16px;
}

.label {
    font-weight: 400;
    font-size: clamp(12px, 12px + (100vw - 360px) * 0.00513, 20px);
    line-height: clamp(12px, 12px + (100vw - 360px) * 0.00513, 20px);
    color: #364f87;
    white-space: nowrap; /* 한 줄로 표시 */
    overflow: nowrap; /* 내용이 넘칠 경우 숨김 처리 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 생략 부호 추가 */
}

.contactInput input {
    width: 100%;
    font-weight: 400;
    font-size: clamp(12px, 12px + (100vw - 360px) * 0.00513, 20px);
    font-family: NotoSansKR;
    color: #000;
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0;

    &::placeholder {
        font-weight: 400;
        font-size: clamp(12px, 12px + (100vw - 360px) * 0.00513, 20px);
        color: #cecece;
    }
}
