.questionCardWrapper {
    width: 100%;
    max-width: 1054px;
    margin: 0 auto;
    // padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: clamp(35px, 35px + (100vw - 360px) * 0.02244, 70px);
    justify-content: center;
    align-items: end;

    transition: opacity 0.5s ease, transform 0.5s ease;

    &.hidden {
        opacity: 0;
        transform: translateY(20px);
    }

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 28px;
    }
}
