.introInquiryButton {
    display: none;
    padding-top: clamp(10px, calc(10px + (100vw - 360px) * 0.00321), 15px);
    padding-bottom: clamp(10px, calc(10px + (100vw - 360px) * 0.00321), 15px);
    padding-left: clamp(20px, calc(20px + (100vw - 360px) * 0.00641), 30px);
    padding-right: clamp(20px, calc(20px + (100vw - 360px) * 0.00641), 30px);
    background-color: #4c9be8;
    font-weight: 700;
    font-size: clamp(18px, 18px + (100vw - 360px) * 0.00449, 25px);
    color: #fff;
    border: none;
    border-radius: 50px;

    @media (max-width: 768px) {
        display: block;
    }
}
