.rightCard {
    // position: absolute;
    // top: 100%;
    // right: 0;
    // transform: translate(0, -100%);

    position: relative;
    @media (max-width: 768px) {
        display: none;
    }
}

.rightTextCircle {
    width: 19.25vw;
    height: 19.25vw;
    max-width: 308px;
    max-height: 308px;
    border-radius: 50%;
    background-color: #4c9be8;
    z-index: 2;
    position: relative;
    font-size: clamp(16px, 1.625vw, 26px);
    font-weight: 600;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: clamp(20px, 1.875vw, 30px);
}

.rightProfileCircle {
    width: 20.375vw;
    height: 20.375vw;
    max-width: 326px;
    max-height: 326px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(55%, -50%);
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(114, 114, 114, 1));
        opacity: 0.1; /* 원하는 투명도 설정 */
        z-index: -1; /* 기본 요소 뒤에 위치하도록 */
    }
}

.rightProfile {
    width: 73%;
    position: absolute;
    top: 100%;
    left: 50%;

    transform: translate(-50%, -100%);
}
