.footerContent {
    margin: 0 auto;
    padding: 0 50px;
    padding-top: clamp(24px, 24px + (100vw - 360px) * 0.02051, 56px);
    padding-bottom: clamp(24px, 24px + (100vw - 360px) * 0.02051, 56px);
    max-width: 1600px;

    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 66px;
    }
}
