.introTitleText {
    font-size: clamp(20px, calc(20px + (100vw - 360px) * 0.01923), 50px);
    font-weight: 700;
    text-align: center;
    color: #fff;
    word-break: keep-all;
    line-height: clamp(40px, calc(40px + (100vw - 360px) * 0.01282), 60px);

    span {
        opacity: 0;
        animation: fadeIn 0.5s forwards;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
