.introForm {
    border-radius: 5px;
    width: 360px;
    padding: 22px 36px;
    box-sizing: border-box;
    background-color: #fff;

    position: absolute;
    right: 5%;
    top: 50%;

    transform: translateY(-50%);

    @media (max-width: 1400px) {
        position: relative;
        right: 0;
        top: 0;
        transform: none;
    }

    @media (max-width: 768px) {
        display: none;
    }
}
