.contactText {
    display: flex;
    flex-direction: column;
    gap: 28px;

    white-space: nowrap;

    @media (max-width: 768px) {
        text-align: center;
    }
}

.title {
    font-weight: 700;
    font-size: clamp(25px, 25px + (100vw - 360px) * 0.00962, 40px);
    line-height: clamp(25px, 25px + (100vw - 360px) * 0.00321, 30px);
    color: #fff;
}

.description {
    font-weight: 400;
    font-size: clamp(13px, 13px + (100vw - 360px) * 0.00769, 25px);
    line-height: clamp(25px, 25px + (100vw - 360px) * 0.01218, 44px);
    color: #fff;
}
