.contactCheck {
    display: flex;
    align-items: center;
    gap: 12px;

    font-weight: 400;
    font-size: clamp(12px, 12px + (100vw - 360px) * 0.00385, 18px);
    color: #7b7b7b;
}

.contactCheck input[type='checkbox'] {
    width: 22px;
    height: 22px;
    margin: 0;
}
