.pointInquiryButton {
    width: 223px;
    height: 63px;
    padding: 15px 30px;
    background-color: #fff;

    font-weight: 700;
    font-size: 25px;
    color: #142d45;
    border: 1px solid #bdbdbd;
    border-radius: 50px;
}
