.pointDescriptionText {
    font-weight: 400;
    font-size: clamp(14px, 14px + (100vw - 360px) * 0.00705, 25px);
    color: #838383;
}

@media (max-width: 768px) {
    .pointDescriptionText {
        /* 640px 기준 25px, 최소 16px로 제한 */
        text-align: center; /* 필요한 경우 텍스트 중앙 정렬 */
    }
}
