.fixedForm {
    border-radius: 5px;
    width: 300px;
    padding: 14px 18px;
    box-sizing: border-box;
    background-color: #fff;
    // position: relative;
    // right: 0;
    // top: 0;
    transform: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    // z-index: 1000;

    @media (max-width: 768px) {
        display: none;
    }
}
