.contactSelectItem {
    // height: 32px;
    padding-top: clamp(8px, calc(8px + (100vw - 360px) * 0.00256), 12px);
    padding-bottom: clamp(8px, calc(8px + (100vw - 360px) * 0.00256), 12px);

    /* 가로 패딩 */
    padding-left: clamp(12px, calc(12px + (100vw - 360px) * 0.00385), 18px);
    padding-right: clamp(12px, calc(12px + (100vw - 360px) * 0.00385), 18px);
    font-size: clamp(12px, calc(12px + (100vw - 360px) * 0.00385), 18px);

    display: flex;
    align-items: center;
    font-family: Pretendard;
    font-weight: 600; /* Block: contact-select */
    .contact-select__box {
        font-size: 14px;
        cursor: pointer;
        align-self: flex-start;
    }

    color: #555;
    // border-radius: 8px;

    &:hover {
        background-color: #364f87;
        color: #fff;
    }
    &--active {
    }
}
