.questionContent {
    margin: 0 auto;
    padding: 0 50px;
    padding-top: 122px;
    max-width: 1600px;

    display: flex;
    flex-direction: column;
    gap: 78px;

    @media (max-width: 768px) {
        max-width: 327px;
    }
}
