.contactTrigger {
    width: 100%;
    padding: 0;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
    gap: 16px;

    border: none;
    border-bottom: 1px solid #cecece;
    font-family: NotoSansKR;
    cursor: pointer;
}

.label {
    font-weight: 400;
    font-size: clamp(12px, 12px + (100vw - 360px) * 0.00513, 20px);
    color: #364f87;
}

.contactDisplay {
    font-weight: 700;
    font-size: clamp(12px, 12px + (100vw - 360px) * 0.00513, 20px);
    color: #000;
    border: none;
    outline: none;
    background-color: inherit;
    flex: 1;
    text-align: left;
    position: relative;
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    color: #cecece;
}
