.header {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    // border-bottom: 1px solid black; // 필요시 주석 해제
    z-index: 10000;
}

.headerContent {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}
