.headerContent {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1596px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    @media (max-width: 768px) {
        justify-content: center;
    }
}
