.changeContent {
    margin: 0 auto;
    padding-left: clamp(5px, calc(5px + (100vw - 360px) * 0.02885), 50px);
    padding-right: clamp(5px, calc(5px + (100vw - 360px) * 0.02885), 50px);
    padding-top: clamp(82px, calc(82px + (100vw - 360px) * 0.02564), 122px);
    padding-bottom: clamp(40px, calc(40px + (100vw - 360px) * 0.1359), 252px);
    max-width: 1600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(30px, 30px + (100vw - 360px) * 0.03077, 78px);

    @media (max-width: 768px) {
        align-items: center;
    }
}
